@model IEnumerable<Personal.Models.PostShortDescription>

@{
    ViewBag.Title = ".Net Blog";
}

<h2>Blog</h2>


@foreach (var item in Model) {
    
    <div class="page-tab page-tab-text"><a href="@Url.Action("Details", "Blog", new { postId = @item.ID })" class="header-link">@item.Title</a></div>
    
    <div class="row col-md-12 container">
            <p class="lead">
                @Html.Raw(item.Description)
            </p>
        <p>
            @Html.ActionLink("Read more...", "Details", "Blog", new { postId = item.ID }, new {@class = "btn btn-info"})
        </p>
    </div>
}

