@model IEnumerable<Personal.Models.PostShortDescription>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>


@foreach (var item in Model) {
    
    <div class="page-tab"><a href="@Url.Action("Details", "Blog", new { postId = @item.ID })" class="header-link"><h2>@item.Title</h2></a></div>
    
    <div class="row col-md-12 container">
            <p class="lead">
                @Html.Raw(item.Description)
            </p>
        <p>
            @Html.ActionLink("Read more...", "Details", "Blog", new { postId = item.ID }, new {@class = "btn btn-info"})
        </p>
    </div>
}

